body{
    background-color:lightgrey;
}

.topbar{
    display:flex;
    background-color: #fff;
    padding:10px;
    justify-content:space-evenly;
}

.button{
    display:flex;
    padding:20px;
    padding-left: 35px;
    padding-right: 35px;
    color:black;
    background-color: aliceblue;
    border-radius: 10px;
    font-size: large;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
}

.counter123{
    display:flex;
    font-size: 100px;
    justify-content: center;
    margin-top:50px;
}

.ending{
    display:flex;
    background-color: #fff;
    padding:10px;
    margin-top:500px;
    justify-content:space-evenly;
}

.end{
    display:flex;
    padding:20px;
    padding-left: 35px;
    padding-right: 35px;
    color:black;
    background-color: aliceblue;
    border-radius: 10px;
    font-size: large;
    cursor: pointer;
}








